.event-preview-box{
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-border-radius: 5;
}

.event-preview-title{
	-fx-font-size: 15pt;
}

.event-preview-time{
	-fx-font-size: 12pt;
	-fx-font-style: italic;
}

.event-preview-box:hover{
	-fx-background-color: white;
	-fx-background-radius: 5;
	-fx-cursor: hand;
	-fx-border-color: #b1282a;
	-fx-border-width: 1px;
	-fx-border-radius: 5;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 0);
}