#popup{
	-fx-background-color: #b1282a;
	-fx-background-radius: 5;
	-fx-padding: 70px 40px 70px 40px;
	-fx-border-width: 4px;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 20, 0, 0, 0);
	-fx-text-fill: white;
}

.button-effect:hover{
	-fx-cursor: hand;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 0);
}